# PVT Analysis

## Compoments/ZI data type
The data will consist of the
Mol/Weight fraction of the Compoments in the sample lab condition that taking
from the reservoir. 
Compoments/ZI/WeightFrac/MolWeight/SG

1. Convert from raw
Compoments data to scientific name / data
- We will need a table consist of
Compoments overall characteristic

In [9]:
# Import library
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline

Import data table

In [33]:
components_data = pd.read_csv('pvt/data/components-input.csv')

In [38]:
components_data

   Components         Zi         Wi          MW          SG
0         H2S   0.000000   0.000000   34.080000    0.800600
1         CO2   0.043840   0.014769   44.010000    0.817200
2          N2   0.224263   0.048089   28.013000    0.808600
3          C1  36.981879   4.541556   16.043000    0.299700
4          C2   9.344026   2.150788   30.070000    0.355840
5          C3   7.112686   2.400893   44.097000    0.506480
6         IC4   1.822553   0.810883   58.123000    0.562310
7         NC4   2.656948   1.182119   58.123000    0.583430
8         IC5   1.226071   0.677146   72.150000    0.624080
9         NC5   1.019670   0.563153   72.150000    0.630490
10         C6   1.821637   1.171308   84.000000    0.663000
11         C7   2.506409   1.841846   96.000000    0.687500
12         C8   3.924537   3.214417  107.000000    0.706300
13         C9   2.918505   2.703185  121.000000    0.721200
14        C10   2.458347   2.521611  134.000000    0.733500
15        C11   1.723251   1.939081  147.000000    0.744200
16        C12   1.210185   1.491446  161.000000    0.752000
17        C13   1.145761   1.534836  175.000000    0.760000
18        C14   1.011037   1.470451  190.000000    0.766300
19        C15   1.447279   2.282178  206.000000    0.772300
20        C16   1.304413   2.216655  222.000000    0.775800
21        C17   1.099086   1.993931  237.000000    0.780300
22        C18   1.170915   2.249723  251.000000    0.785300
23        C19   0.843385   1.697899  263.000000    0.789300
24       C20+  14.983318  59.282037    0.948674  516.874437

In [ ]:
def components_result(components_data):
    result = components_data(:10)
    # now we get data for c7plus
    zi = 100 - np.sum(result['Zi'])
    wi = 100 - np.sum(result['Wi'])
    mw = wi/zi
    sg =

In [39]:
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [41]:
pd.DataFrame(np.array([[1,2,3,4,5]]))

   0  1  2  3  4
0  1  2  3  4  5